# OpenAI API Configurations
OPENAI_API_KEY=your_openai_api_key_here

# SMTP Email Configuration (Gmail SMTP server is used by default)
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_16_character_google_app_password
